* {
    /* outline: 1px solid red; */
    box-sizing: border-box;
}

.navbar-nav {
    color: green;
}
.nav-link :hover {
    color: #043604;
}


.content {
    margin-top: 8rem;
}

.contentcontain {
    background-color: #043604;
    box-sizing: border-box;
    padding-bottom: 90px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenttext {
    color: white;
    box-sizing: border-box;
}
.content p {
    font-size: 20px;
    color: white;
}
.imgcow img{
    outline: #ff0000;
    border-radius: 4px;
    box-sizing: border-box;
    width: 500px;
    overflow: hidden;
}

.history {
    box-sizing: border-box;
    margin-top: 23px;
}

.history h2 {
    font-size: 30px;
    margin-bottom: 10px;
}
.history p{
    font-size: 20px;
    color: rgb(0, 0, 0);
}
.footerContainer {
    background-color: black;
    width: 100%;
    padding: 70px 50px 20px;
}
.socialIcons{
    gap: 10px;
    display: flex;
    justify-content: center;
}
.socialIcons a {
    font-size: 10px;
    text-decoration: none;
    padding: 10px;
    background-color: rgb(14, 43, 14);
    margin: 10px;
    border-radius: 50px;
}
.socialIcons a i {
    font-size: 2em;
    color: white;
    opacity: 0.9;
}

.socialIcons a:hover {
    background-color: #111;
    transition: 0.2s;
}

.socialIcons a:hover i {
    color: white;
    color: white;
    transition: 0.2s;
}

.footerNav {
    margin: 30px 0;
}

.footerNav ul {
    display: flex;
    justify-content: center;
}

.footerNav ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.2s;
}

.footerNav ul li a:hover {
    opacity: 8;
    color: green;
    background-color: rgb(29, 46, 29);
    border-radius: 5px;
    transition: 1s;
}
.footerBotton {
    background-color: #0e6b0e;
    padding: 17px;
    text-align: center;
}

.footerBotton p {
    color: white;
}

.designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}